#### <span style="color:darkgrey">Nellie Van Eeckhaute - 1 juli 2024</span>

# Session 1: Queries
In this session, we will learn how to look up data in the the database. We will use Python and its default sqlite library to query the database.
## 1. SQLite
SQLite is a simple, minimalistic **database management system** (DBMS). While most DBMSs follow a client-server architecture, sqlite's database is contained in a single `.sqlite` file that a program can manipulate directly. This makes sqlite mostly useful for smaller applications, when you don't want to spend too much time and effort into creating complicated database permission schemes. However, sqlite is less performant than more complex database like MariaDB or PostgreSQL.
### 1.1 Sample Database
For these exercises, we will be using a sample database, namely the **Chinook** database.
Download the database [here](https://github.com/lerocha/chinook-database/blob/master/ChinookDatabase/DataSources/Chinook_Sqlite.sqlite?raw=true). The database contains data from an online store selling music tracks (from back before music streaming was a thing).

#### ER Diagram
![Chinook ER Diagram](https://camo.githubusercontent.com/a86112e5904456825a13f5fcbec439e16b376abe/687474703a2f2f6c68342e67677068742e636f6d2f5f6f4b6f367a4668644439382f53574650747966484a46492f4141414141414141414d632f4764726c7a65424e735a4d2f733830302f4368696e6f6f6b4461746162617365536368656d61312e312e706e67)

## 2.1 SQLite in Python
Using SQLite in Python is very easy. Simply import the `sqlite3` library and connect to the database:

In [260]:
import sqlite3
conn = sqlite3.connect("Chinook_Sqlite.sqlite")

*Note: Make sure the path to your database file (the `.sqlite` file) is correct. Otherwise, Python will make a new, empty `.sqlite` file.*

Now you can use the `conn` variable to manipulate the database. In order to execute a query on the database connection, use:
```python3
conn.execute(someQueryString)
```
This will return a *cursor* object. Don't worry too much about this yet; you can collect the data from a cursor by converting it to a list: `list(someCursor)`.

For more details, take a look at [the official documentation](https://docs.python.org/3.8/library/sqlite3.html).

# 2. Querying
## 2.1 SELECT
The SELECT operation is used to fetch data from a database. It has the following syntax:
```sql
SELECT DISTINCT column_list
FROM table_list
  JOIN table ON join_condition
WHERE row_filter
ORDER BY column
LIMIT count OFFSET offset
GROUP BY column
HAVING group_filter;
```
Most of these fields can be omitted. The minimal syntax is:
```sql
SELECT column_list FROM table_list
```
We will discuss the optional parameters later.

### Basic Queries
#### Contact Information
Get a list of all employees and their phone numbers. **(8)**

In [270]:
# Write your code here, then press Run
myQueryString = "SELECT FirstName, LastName, Phone FROM Employee"
list(conn.execute(myQueryString))

# is the same as:
# cursor = conn.execute(myQueryString)
# cursor.fetchall()

[('Andrew', 'Adams', '+1 (780) 428-9482'),
 ('Nancy', 'Edwards', '+1 (403) 262-3443'),
 ('Jane', 'Peacock', '+1 (403) 262-3443'),
 ('Margaret', 'Park', '+1 (403) 263-4423'),
 ('Steve', 'Johnson', '1 (780) 836-9987'),
 ('Michael', 'Mitchell', '+1 (403) 246-9887'),
 ('Robert', 'King', '+1 (403) 456-9986'),
 ('Laura', 'Callahan', '+1 (403) 467-3351')]

#### Canadian Customers
Get all data from Canadian customers. **(8)**

*Hint: the* `WHERE` *clause can be used to add restrictions to the select statements*

In [279]:
# Write your code here, then press Run
myQueryString = "SELECT * FROM Customer WHERE Country='Canada'"
list(conn.execute(myQueryString))

[(3,
  'François',
  'Tremblay',
  None,
  '1498 rue Bélanger',
  'Montréal',
  'QC',
  'Canada',
  'H2G 1A7',
  '+1 (514) 721-4711',
  None,
  'ftremblay@gmail.com',
  3),
 (14,
  'Mark',
  'Philips',
  'Telus',
  '8210 111 ST NW',
  'Edmonton',
  'AB',
  'Canada',
  'T6G 2C7',
  '+1 (780) 434-4554',
  '+1 (780) 434-5565',
  'mphilips12@shaw.ca',
  5),
 (15,
  'Jennifer',
  'Peterson',
  'Rogers Canada',
  '700 W Pender Street',
  'Vancouver',
  'BC',
  'Canada',
  'V6C 1G8',
  '+1 (604) 688-2255',
  '+1 (604) 688-8756',
  'jenniferp@rogers.ca',
  3),
 (29,
  'Robert',
  'Brown',
  None,
  '796 Dundas Street West',
  'Toronto',
  'ON',
  'Canada',
  'M6J 1V1',
  '+1 (416) 363-8888',
  None,
  'robbrown@shaw.ca',
  3),
 (30,
  'Edward',
  'Francis',
  None,
  '230 Elgin Street',
  'Ottawa',
  'ON',
  'Canada',
  'K2P 1L7',
  '+1 (613) 234-3322',
  None,
  'edfrancis@yachoo.ca',
  3),
 (31,
  'Martha',
  'Silk',
  None,
  '194A Chain Lake Drive',
  'Halifax',
  'NS',
  'Canada',
  'B3S 1C5',
  '+1 (902) 450-0450',
  None,
  'marthasilk@gmail.com',
  5),
 (32,
  'Aaron',
  'Mitchell',
  None,
  '696 Osborne Street',
  'Winnipeg',
  'MB',
  'Canada',
  'R3L 2B9',
  '+1 (204) 452-6452',
  None,
  'aaronmitchell@yahoo.ca',
  4),
 (33,
  'Ellie',
  'Sullivan',
  None,
  '5112 48 Street',
  'Yellowknife',
  'NT',
  'Canada',
  'X1A 1N6',
  '+1 (867) 920-2233',
  None,
  'ellie.sullivan@shaw.ca',
  3)]

#### Bang for your buck
Get a list of all tracks longer than 10 minutes that cost less than €1. **(49)**

In [287]:
# Write your code here, then press Run
myQueryString = "SELECT Name FROM Track WHERE Milliseconds>600000 AND UnitPrice<1"
list(conn.execute(myQueryString))

[('Sleeping Village',),
 ('You Shook Me(2)',),
 ('How Many More Times',),
 ('Advance Romance',),
 ('Mercyful Fate',),
 ('Mistreated',),
 ('Smoke On The Water',),
 ('You Fool No One',),
 ('In My Time Of Dying',),
 ('The Calling',),
 ("Walkin'",),
 ('My Funny Valentine (Live)',),
 ('Miles Runs The Voodoo Down',),
 ("Space Truckin'",),
 ('Going Down / Highway Star',),
 ('Mistreated (Alternate Version)',),
 ('You Fool No One (Alternate Version)',),
 ('I Heard It Through The Grapevine',),
 ('Child In Time',),
 ('Child In Time (Son Of Aleric - Instrumental)',),
 ('Outbreak',),
 ('Coma',),
 ('Rime Of The Ancient Mariner',),
 ('Rime of the Ancient Mariner',),
 ('Sign Of The Cross',),
 ('Sign Of The Cross',),
 ('Revolution 1993',),
 ('Dazed And Confused',),
 ('Whole Lotta Love (Medley)',),
 ('Carouselambra',),
 ('Achilles Last Stand',),
 ('Dazed And Confused',),
 ('No Quarter',),
 ('Stairway To Heaven',),
 ('Moby Dick',),
 ('Whole Lotta Love',),
 ('Xanadu',),
 ('El Corazon Manda',),
 ('La Puesta Del Sol',),
 ('Fried Neckbones And Home Fries',),
 ('Santana Jam',),
 ("We've Got To Get Together/Jingo",),
 ("Just Ain't Good Enough",),
 ('Funky Piano',),
 ('The Way You Do To Mer',),
 ('The Sun Road',),
 ('The End',),
 ('Reach Down',),
 ('Amy Amy Amy (Outro)',)]

### 2.2 Optional Parameters
As mentioned before, there are certain additional parameters that can be used in a `SELECT` statement:
- `SELECT DISTINCT` removes all duplicate rows from the result
- `ORDER BY` allows you to sort the result on a certain column
- `LIMIT aNumber` only returns the first `aNumber` results
- `GROUP BY` allows you to group results based on an aggregation function. examples are `MAX`, `MIN`, `COUNT` or `SUM`.
- `HAVING` can be used to filter on aggregated values from a GROUP BY operation

#### Number of Orders
Count how many times each CustomerID has placed an order. **(59)**

In [294]:
# Write your code here, then press Run
myQueryString = "SELECT CustomerId, COUNT(*) AS order_amount FROM Invoice GROUP BY CustomerId"
list(conn.execute(myQueryString))

# i printed it in table format for a better overview:
# import pandas as pd
# df = pd.DataFrame(list(conn.execute(myQueryString)), columns=["CustomerId", "order_amount"])
# print(df)

[(1, 7),
 (2, 7),
 (3, 7),
 (4, 7),
 (5, 7),
 (6, 7),
 (7, 7),
 (8, 7),
 (9, 7),
 (10, 7),
 (11, 7),
 (12, 7),
 (13, 7),
 (14, 7),
 (15, 7),
 (16, 7),
 (17, 7),
 (18, 7),
 (19, 7),
 (20, 7),
 (21, 7),
 (22, 7),
 (23, 7),
 (24, 7),
 (25, 7),
 (26, 7),
 (27, 7),
 (28, 7),
 (29, 7),
 (30, 7),
 (31, 7),
 (32, 7),
 (33, 7),
 (34, 7),
 (35, 7),
 (36, 7),
 (37, 7),
 (38, 7),
 (39, 7),
 (40, 7),
 (41, 7),
 (42, 7),
 (43, 7),
 (44, 7),
 (45, 7),
 (46, 7),
 (47, 7),
 (48, 7),
 (49, 7),
 (50, 7),
 (51, 7),
 (52, 7),
 (53, 7),
 (54, 7),
 (55, 7),
 (56, 7),
 (57, 7),
 (58, 7),
 (59, 6)]

#### Billing Countries
Get a list of all countries in the *invoice* table. **(24)**

In [300]:
# Write your code here, then press Run
myQueryString = "SELECT DISTINCT BillingCountry FROM Invoice"
list(conn.execute(myQueryString))

[('Germany',),
 ('Norway',),
 ('Belgium',),
 ('Canada',),
 ('USA',),
 ('France',),
 ('Ireland',),
 ('United Kingdom',),
 ('Australia',),
 ('Chile',),
 ('India',),
 ('Brazil',),
 ('Portugal',),
 ('Netherlands',),
 ('Spain',),
 ('Sweden',),
 ('Czech Republic',),
 ('Finland',),
 ('Denmark',),
 ('Italy',),
 ('Poland',),
 ('Austria',),
 ('Hungary',),
 ('Argentina',)]

#### Big Buyers
Get a list of customerID's who have purchased for more than €45. **(5)**

*Hint: use SUM, GROUP BY and HAVING*

In [325]:
# Write your code here, then press Run
myQueryString = "SELECT CustomerId, SUM(Total) AS total_purchase FROM Invoice GROUP BY CustomerId HAVING SUM(Total) > 45"
# list(conn.execute(myQueryString))

"""
SELECT CustomerId, SUM(Total) AS total_purchase 
FROM Invoice 
GROUP BY CustomerId 
HAVING SUM(Total) > 45
"""

# i printed it in table format for a better overview:
import pandas as pd
df = pd.DataFrame(list(conn.execute(myQueryString)), columns=["CustomerId", "total_purchase"])
print(df)
print(f"\nAmount of Big Buyers: {len(df)}")

   CustomerId  total_purchase
0           6           49.62
1          26           47.62
2          45           45.62
3          46           45.62
4          57           46.62

Amount of Big Buyers: 5

### 2.3 Joins
For the previous exercises, it sufficed to just query a single table. However, for more advanced applications, multiple tables will need to be queried. For this, the `JOIN` operation exists.
The `JOIN` operation takes two tables and returns all combinations that match a certain expression.

You can also specify what kind of `JOIN` you want to use.
- The `INNER JOIN` takes the intersection of two tables
- The `LEFT JOIN` takes **all** rows of the left table and the matching rows of the right table
- The `CROSS JOIN`takes **all** rows of the left table and matches each row with **each row** of the right table. The cross join has very poor performance, so avoid using this one.

To specify what common variable should be used for the `INNER JOIN` or `LEFT JOIN`, use `ON table1.var1 = table2.var2`. If the variable names are the same in both tables, you can simply use `USING var`.

#### Album Artists
Get all albums and the names of their artists. **(347)**

In [326]:
# Write your code here, then press Run
myQueryString = "SELECT Album.AlbumId, Artist.ArtistId, Artist.Name FROM Album INNER JOIN Artist ON Album.ArtistId = Artist.ArtistId"
# list(conn.execute(myQueryString))

"""
SELECT Album.AlbumId, Artist.ArtistId, Artist.Name 
FROM Album 
INNER JOIN Artist 
ON Album.ArtistId = Artist.ArtistId
"""

# i printed it in table format for a better overview:
import pandas as pd
df = pd.DataFrame(list(conn.execute(myQueryString)), columns=["AlbumId", "ArtistId", "Name"])
print(df)

     AlbumId  ArtistId                                               Name
0          1         1                                              AC/DC
1          4         1                                              AC/DC
2          2         2                                             Accept
3          3         2                                             Accept
4          5         3                                          Aerosmith
..       ...       ...                                                ...
342      342       271   Mela Tenenbaum, Pro Musica Prague & Richard Kapp
343      344       272                             Emerson String Quartet
344      345       273  C. Monteverdi, Nigel Rogers - Chiaroscuro; Lon...
345      346       274                                      Nash Ensemble
346      347       275                              Philip Glass Ensemble

[347 rows x 3 columns]

#### Special Promotion
The company wants to offer a special promotion to each customer that had an order of more than €15. Get a list of names of each customer who is eligible. **(11)**

*Hint: this query will need DISTINCT, a JOIN and a WHERE clause*

In [327]:
# Write your code here, then press Run
myQueryString = "SELECT DISTINCT Customer.FirstName, Customer.LastName FROM Customer JOIN Invoice ON Customer.CustomerId = Invoice.CustomerId WHERE Invoice.Total > 15"
list(conn.execute(myQueryString))

"""
SELECT DISTINCT Customer.FirstName, Customer.LastName 
FROM Customer 
JOIN Invoice 
ON Customer.CustomerId = Invoice.CustomerId 
WHERE Invoice.Total > 15
"""

'\nSELECT DISTINCT Customer.FirstName, Customer.LastName \nFROM Customer \nJOIN Invoice \nON Customer.CustomerId = Invoice.CustomerId \nWHERE Invoice.Total > 15\n'

#### Run to the Hills
Count the number of times a song of Iron Maiden was bought. **(140)**

*Hint: you will need to use multiple `INNER JOIN`s. You will need to use `ON`, not `USING`.*

In [336]:
# Write your code here, then press Run
myQueryString = "SELECT COUNT(*) AS times_bought FROM Track JOIN Album ON Track.AlbumId = Album.AlbumId JOIN Artist ON Album.ArtistId = Artist.ArtistId JOIN InvoiceLine ON Track.TrackId = InvoiceLine.TrackId JOIN Invoice ON InvoiceLine.InvoiceId = Invoice.InvoiceId WHERE Artist.Name = 'Iron Maiden'"
# list(conn.execute(myQueryString))

"""
SELECT COUNT(*) AS times_bought FROM Track
JOIN Album ON Track.AlbumId = Album.AlbumId
JOIN Artist ON Album.ArtistId = Artist.ArtistId
JOIN InvoiceLine ON Track.TrackId = InvoiceLine.TrackId
JOIN Invoice ON InvoiceLine.InvoiceId = Invoice.InvoiceId
WHERE Artist.Name = 'Iron Maiden'
"""

print(f"Number of times a song of Iron Maiden was bought: {list(conn.execute(myQueryString))[0][0]}")

Number of times a song of Iron Maiden was bought: 140